<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Shopification - We care your needs.</title>
</head>

<body>

    <!-- Header Section -->

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">

                    <h3 class="Logo"><img src="/images/shopping-cart.png"> Shopification</h3>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/templates/index.html">Home</a></li>
                        <li><a href="/templates/product.html">Products</a></li>
                        <li><a href="/templates/account.html">Accounts</a></li>
                        
                        <li><a href="/templates/contact.html">Contact Us</a></li>
                    </ul>
                </nav>
                <img src="/images/cart.png" width="30px" height="30px">
                <img src="/images/menu.png" width="30px" height="30px" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Discover a World of Convenience: </h1>
                    <span id="element"></span>
                    <p>Discover a world of style at your fingertips with online men's apparel and clothing. From trendy
                        t-shirts to sophisticated suits, browse a vast collection of fashion-forward items from the
                        comfort of your home. With convenient sizing charts, detailed product descriptions, and customer
                        reviews, finding the perfect fit has never been easier. Elevate your wardrobe with the click of
                        a button!
                        <a href="/templates/product.html" class="btn">Explore Now</a>
                </div>
                <div class="col-2">
                    <img src="/images/image1.png">
                </div>
            </div>
        </div>
    </div>

    <!-- Features Catagory -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="/images/category-1.jpg">
                </div>
                <div class="col-3">
                    <img src="/images/category-2.jpg">
                </div>
                <div class="col-3">
                    <img src="/images/category-3.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="/templates/productdetails.html"><img src="/images/product-1.jpg"></a>
                <a href="/templates/productdetails.html"><h4>Red Printed T-Shirt</h4></a>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$18.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-2.jpg">
                <h4>Black soft-sole Gripper</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-3.jpg">
                <h4>Grey Track Trouser</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$30.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-4.jpg">
                <h4>Navy Blue Printed T-Shirt</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$20.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="/images/product-5.jpg">
                <h4>Grey Smooth Snickers</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-6.jpg">
                <h4>Black Tee</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-7.jpg">
                <h4>Socks<br>(Pack Of 3)</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$10.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-8.jpg">
                <h4>Mens Fossils Black Diamond</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$110.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-9.jpg">
                <h4>Leather Roadster mens Watch</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$120.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-10.jpg">
                <h4>Black n Red Jogs</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-11.jpg">
                <h4>Grey Comforts</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$90.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-12.jpg">
                <h4>Dark Trouser</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$40.00</p>
            </div>
        </div>
    </div>

    <!-- Offers -->

    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/images/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on Shopification.</p>
                    <h1>Smart Band 5</h1>
                    <small>
                        The magnificent large AMOLED display debuts on your wrist, making it easy for you to read and
                        control. Everything is presented in detail at high resolution. Even better, thanks to always-on
                        mode, you can read date and time without lifting your wrist or using your fingers.
                    </small>
                    <br>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials -->

    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="/images/IMG_1491.JPG" class="user-img">
                    <h3>Muhammad Murtaza</h3>
                    <h5 class="user-title">Front-End Developer</h5>
                    <p class="user-desc">Passionate Web Developer Delivering Cutting-Edge Solutions for Seamless Online
                        Experiences.</p>
                </div>
                <div class="col-3">
                    <img src="/images/murtaza.jpeg" class="user-img">
                    <h3>Muhammad Murtaza</h3>
                    <h5 class="user-title">Front-End Developer</h5>
                    <p class="user-desc">Passionate Web Developer Delivering Cutting-Edge Solutions for Seamless Online
                        Experiences.</p>
                </div>
                <div class="col-3">
                    <img src="/images/IMG_1488.JPG" class="user-img">
                    <h3 class="user-name">Muhammad Murtaza</h3>
                    <h5 class="user-title">Front-End Developer</h5>
                    <p class="user-desc">Passionate Web Developer Delivering Cutting-Edge Solutions for Seamless Online
                        Experiences.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3 class="footer-heading">For Any QueryEmail at</h3>
                    <br>
                    <p class="email">m.murtaza01@hotmail.com</p>
                </div>
                <div class="footer-col-2">
                    <img src="/images/logo-white-fotor-2023061622224.png">
                    <p>Our purpose is to make sustainably make the pleasure and of sports accessible to many.</p>
                </div>
                <div class="footer-col-3">
                    <h3 class="footer-heading">Follow Us At</h3>
                    <ul>
                        <a href="https://www.linkedin.com/in/muhammad-murtaza-b131191a2/">
                            <li class="ft">LinkedIn</li>
                        </a>
                        <a href="https://github.com/Muhammad-Murtazaa">
                            <li class="ft">GitHub</li>
                        </a>
                        <a href="https://www.facebook.com/MuhammadMurtaza2001">
                            <li class="ft">Facebook</li>
                        </a>
                        <a href="https://www.instagram.com/unofficial_murtaza21/?hl=en">
                            <li class="ft">Instagram</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
            <p>Copyrights 2023 - www.shopificion.com</p>
        </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>