<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productdetails.css">
    <title>Products - Shopification</title>
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h3 class="Logo"><img src="/images/shopping-cart.png"> Shopification</h3>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/product.html">Products</a></li>
                    <li><a href="/templates/account.html">Accounts</a></li>
                    
                    <li><a href="/templates/contact.html">Contact Us</a></li>
                </ul>
            </nav>
            <a href="/templates/cart.html"><img src="/images/cart.png" width="30px" height="30px"></a>
            <img src="/images/menu.png" width="30px" height="30px" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!-- Single Product Details -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="/images/gallery-1.jpg" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="/images/gallery-1.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/gallery-2.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/gallery-3.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="/images/gallery-4.jpg" width="100%" class="small-img">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>Red Printed T-Short by PUMA</h1>
                <h4>$18.00</h4>
                <select>
                    <option>Select Size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>Large</option>
                    <option>Medium</option>
                    <option>Small</option>
                    <option>Slim Fit</option>
                </select>
                <br>
                <input type="number" value="1">
                <br>
                <a href="" class="btn">Add To Cart</a>
                <h3>Product Details</h3>
                <br>
                <p>Made for the everyday hustle and grind, the PUMA x TMC Everyday Hussle collection is here to elevate
                    your day-to-day</p>
            </div>
        </div>
    </div>

    <!-- Products     -->

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="/images/product-9.jpg">
                <h4>Leather Roadster mens Watch</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$120.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-10.jpg">
                <h4>Black n Red Jogs</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-11.jpg">
                <h4>Grey Comforts</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$90.00</p>
            </div>
            <div class="col-4">
                <img src="/images/product-12.jpg">
                <h4>Dark Trouser</h4>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
                <p>$40.00</p>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3 class="footer-heading">For Any QueryEmail at</h3>
                    <br>
                    <p class="email">m.murtaza01@hotmail.com</p>
                </div>
                <div class="footer-col-2">
                    <img src="/images/logo-white-fotor-2023061622224.png">
                    <p>Our purpose is to make sustainably make the pleasure and of sports accessible to many.</p>
                </div>
                <div class="footer-col-3">
                    <h3 class="footer-heading">Follow Us At</h3>
                    <ul>
                        <a href="https://www.linkedin.com/in/muhammad-murtaza-b131191a2/">
                            <li class="ft">LinkedIn</li>
                        </a>
                        <a href="https://github.com/Muhammad-Murtazaa">
                            <li class="ft">GitHub</li>
                        </a>
                        <a href="https://www.facebook.com/MuhammadMurtaza2001">
                            <li class="ft">Facebook</li>
                        </a>
                        <a href="https://www.instagram.com/unofficial_murtaza21/?hl=en">
                            <li class="ft">Instagram</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
            <p>Copyrights 2023 - www.shopificion.com</p>
        </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="/js/productdetails.js"></script>
</body>

</html>